bs4
certifi
charset-normalizer
click
colorama
dnspython
Flask
idna
importlib-metadata
importlib-resources
itsdangerous
gunicorn
Jinja2
kiwisolver
lxml
MarkupSafe
matplotlib
numpy
packaging
Pillow
pymongo
pyparsing
python-dateutil
python-dotenv
pytz
requests
six
soupsieve
tzdata
urllib3
Werkzeug
zipp