<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Financial Statements</title>
    <!-- bootstrap cdn links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- google fonts link -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&display=swap" rel="stylesheet">
    <!-- custom stylesheet added -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>

<body>
    <!-- top heading bar section -->
    <section id="titlePage">
        <div class="container-fluid">
            <div class="row main_page_title">
                <div class="col-md-12">
                    <h2 class="text-center">Analysis & Comparison of Financial Statements</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- main content section -->
    <section id="mainContent">
        <div class="container-fluid">
            <div class="row financial_statement_data" id="financialStatementData">
                <!-- Stock list section -->
                <div class="col-md-2 stock_list" id="stockList">
                    <div class="stock_list_heading mb-4 mt-2">
                        <span>List of All 50 Stocks</span>
                    </div>
                    <div>
                        <table class="table stocks">
                            <tbody>
                                {% for stock in stocks_list %}
                                    <tr><td><a>{{ stock["full_name"] }}</a></td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- section to display income statement and balance sheet -->
                <div class="col-md-9 financial_table" id="financialTable">
                    <div class="row mb-4 mt-2 buttons">
                        <div class="col-md-7 text-center income_statement_button">
                            <button class="btn btn-success ">Income Statement</button>
                        </div>
                        <div class="col-md-5 text-center balance_sheet_button">
                            <button class="btn btn-success ">Balance Sheet</button>
                        </div>
                    </div>
                    <div class="row description">
                        <span>Income statement: An income statement, also known as a profit and loss
                            statement, is a financial statement that shows a company’s revenues, expenses, and
                            net income over a specific period of time, such as a quarter or a year. The income
                            statement is a critical component of a company’s financial reporting and is used by
                            investors, creditors, and other stakeholders to evaluate a company’s financial
                            performance and profitability.</span>
                    </div>
                    <div class="row mt-4 mb-4 table_data" id="tableData">
                        <table class="table table-bordered table-dark table-striped table-hover">
                            <tbody>
                                {% for key in income_statement_data %}
                                    {% if key == "YEARS" %}
                                        <th style="width: 25%;"></th>
                                        {% for year in income_statement_data[key] %}
                                            <th>{{ year }}</th>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td>{{ key }}</td>
                                            {% for value in income_statement_data[key] %}
                                                <td class="value">{{ value }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>